/* TODO -------------------------------------------------------- */
/* Place holder */
#preloader-area {
  background-color: #fff;
  position: fixed;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
}

.mu-preloader {
  position: relative;
  top: 45%;
}

.hideMe {
  -moz-animation: cssAnimation 0s ease-in 2s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 2s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 2s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 2s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

@-webkit-keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}




/* TODO -------------------------------------------------------- */
/* Slider*/
#slides {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}


/* cont image & text */
.container {
  position: relative;
  text-align: center;
  color: white;
  height: 30%;
  z-index: 0;
}

.cont-image {
  width: 100%;
  height: 100%;
}

.container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.text-image {
  position: absolute;
  top: 150px;
  left: 80px;
  text-align: left;
  z-index: 2;
}

.text-image h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}

.text-image p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.text-image a {
  font-size: 20px;
  font-weight: 500;
  padding: 10px 40px;
  border: 1px solid #fff;
  color: #fff;
  background-color: #c1a35f;
  text-decoration: none;

  border-radius: 5px;
  transition: all .3s ease-in-out;
}

.text-image a:hover {
  background: #fff;
  color: #c1a35f;
text-decoration: none;
  border: 1px solid #c1a35f;
}

/* TODO -------------------------------------------------------- */
.intro {
  width: 100%;
  margin: 0;
  background-color:#15141A;
}
.intro-wrapper {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}
.intro-text-content {
  float: right;
  width: 40%;
  padding: 80px 0;
}
.intro-text-content h3 {
  color: #c1a35f;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 5px 0;
}

.intro-text-content p {
  color: #e0e0e0;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.4;
  margin: 5px 0;
}
.intro-text-content a {
  background-color: #c1a35f;
  display: block;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 15px;
  border-radius: 4px;
  text-decoration: none;
  width: 40%;
  text-align: center;
}
.intro-img-content {
  float: left;
  padding: 60px 0;
}
.intro-img-content img {
  border-radius: 10px;
  width:530px
}

.intro-page-wrapper .intro-img-content img{
  width:530px
}

