body {
  font-family: "Bookman Old Style";
}

.meals-body {
  margin-top: 60px;
}


.title{
    text-align: center;
    margin: 0px;
    padding-top: 60px;
    font-size:  60px;
    font-family: "Edwardian Script ITC";
    color:  #c1a35f;
    line-height: 30px;
    font-weight: 400;
  }
  .sub-title {
    margin-top: 5px;
    text-align: center;
    color: black;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  
  }
  
  .line {
    display: inline block;
    width: 240;
    border-color: #c1a35f;
    border-style: solid;
    margin: 5px auto;
  
  }
  .menubox{
    background-color: #c1a35f;
    position: absolute;
    color: white;
    font-size: 24px;
    margin-left: 700px;
    margin-top: 20px;
   
  }
 .maintable img{
   width: 150px;
   height: 150px;
 } 
 .maintable{
    text-align: center;
   padding:  50px;
    width: 100%;
 }
 
 .meal-item{
   padding: 10px;
   margin: 15px;
   border-bottom: 5px solid white;
   color: white;
   border-radius: 10px;
   width:45%;
   display: inline-block;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
 }
  .meal-item img{
    width: 150px;
    height: 150px;
  }
.meal-item:hover{ 
  background: rgb(236, 236, 236);
  color: #c1a35f;
  text-decoration: none;
  border-bottom: 5px solid #c1a35f;
}
/* .card:hover  {
  background: rgb(236, 236, 236);
  color: #c1a35f;
  text-decoration: none;
  border-bottom: 5px solid #c1a35f;
} */
