body {
  font-size: 16px;
  color: #222;
  font-family: "Bookman Old Style";
  font-weight: 300;
}

.center {
  margin: 120px;
  text-align: center;
}

.body-border {
  text-align: center;
  height: 60%;
  width: 60%;
  border: 2px solid #c1a35f;
  border-radius: 6px;
  display: inline-block;
  margin: auto;
}


.left h1 {
  font-weight: 300;
  font-size: 28px;
  margin-bottom: 10px;
}
.line {
  display: inline block;
  width: 240;
  border-color: #c1a35f;
  border-style: solid;
  margin: 5px auto;
  margin-bottom: 35px;

}

.left {
  float: left;
  padding: 40px;
  width: 300px;
  height: 400px;

}

.right {
  float: right;
  padding: 40px;
  width: 300px;
  height: 400px;
}


/* make or by side the left  */
.or {
  float: left;
  margin: auto;
  text-align: center;
  width: 40px;
  height: 40px;
  background: #c1a35f;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 40px;
  color: white;
  margin-top: 185px;
  margin-left: 10px;
}

.right .loginwith {
  display: block;
  margin-bottom: 10px;
  font-size: 28px;
  color: black;
  text-align: center;
}

button.social-signin {
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: "Bookman Old Style";
  font-weight: 500;
  cursor: pointer;
}

button.social-signin:hover,
button.social-signin:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  ;
}

button.social-signin:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);

}

button.social-signin.facebook {
  background: #32508E;
}

button.social-signin.twitter {
  background: #55ACEE;
}

button.social-signin.google {
  background: #DD4B39;
}


input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin: auto;
  margin-top: 10px;
  padding: 4px;
  width: 100%;
  height: 35px;
  border: 1px solid #c1a35f;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
  border-radius: 5px;
}

.left input[type="submit"] {
  margin-top: 20px;
  width: 80%;
  height: 35px;
  border-radius: 5px;
  background: #c1a35f;
  border: none;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

input[type="text"]:hover,
input[type="password"]:hover {
  outline: none;

  border: 1px solid #c1a35f;
}


input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border: none;
  border-bottom: 3px solid #c1a35f;
}


input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);

}